<!-- Page content-->
<section class="py-5">
  <div class="container px-5">
    <!-- Contact form-->
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
          <h1 class="fw-bolder">Bills</h1>
          <p class="lead fw-normal text-muted mb-0">Your current balance is $ <strong> <%= @balance %></p>
          <br>
          <%= link_to "Click here to view balance details", billing_detail_path, class: 'btn btn-outline-primary' %>
          <div><%= link_to "Upload a new bill", new_bill_path, class: 'btn btn-outline-primary' %></div>
          <h1 class="fw-bolder">Balance History</h1>
          <%= pie_chart @usersplits %>
      </div>
</section>

