<header class="bg-dark py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder text-white mb-2">Welcome To YourTurn!</h1>
                  <p class="lead fw-normal text-white-50 mb-4">YourTurn allows you to seamlessly manage a multitude of house tasks and responsibilities amongst your housemates!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <%= link_to "Sign Up", signup_path , class: 'btn btn-primary btn-lg px-4 me-sm-3' %> 
                      <%= link_to "Log in", login_path, :class => "btn btn-outline-light btn-lg px-4"%>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><%= image_tag ("/assets/chores.png"), height: '400', width: '600'%>
</div>
      </div>
  </div>
</header>

<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to manage your house.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Tasks</h2>
                        <p class="mb-0">Post a task to remind your roommates to do their job!</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Bills</h2>
                        <p class="mb-0">Upload a bill and wait to receive their shares</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Appliances</h2>
                        <p class="mb-0">Claim to use an appliance so others can plan ahead</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Messages</h2>
                        <p class="mb-0">Leave public message to all your roomates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-10 col-xl-7">
        <div class="text-center">
          <div class="fs-4 mb-4 fst-italic">"Sometimes you just need an app to formalize your housing plan. YourTurn is as important to you as GitHub is to us."</div>
          <div class="d-flex align-items-center justify-content-center">
              <div class="fw-bold">
                  Jesse Rong
                  <span class="fw-bold text-primary mx-1">/</span>
                  Cofounder, YourTurn
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>