<div class="center main-jumbo">
    <div class="jumbotron">
        <h1>Welcome To YourTurn!</h1>
        <h3> YourTurn allows you to seamlessly manage a multitude of house tasks and responsibilities amongst your housemates! </h3>
        <p> It appears that you aren't logged in. Use the button below to sign up or click the log in button at the top of the page. </p>
        <%= link_to "Sign Up", signup_path , class: 'btn btn-primary btn-lg' %>      
    </div>
</div>